@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@import url(//db.onlinewebfonts.com/c/1742e49b3f6d454ce4a8bfbf68af4dc3?family=Heroes+Assemble);

@import url(//db.onlinewebfonts.com/c/44a21eecd860f09edafc460507831238?family=The+Avengers);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: Muli;
}
body {
  background-image: url("images/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: vh;
  width: vw;
}
.header {
  display: flex;
  justify-content: space-around;
  border: solid 2px red;
  height: 70px;
  width: 100%;
  background-color: crimson;
  position: fixed;
  top: 0;
}

ul {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 8px;
  list-style: none;
  padding: 18px;
  width: 300px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  border-bottom: 4px solid rgb(4, 128, 251);
}

.animation {
  position: fixed;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    left: 100px;
    top: 0px;
  }
  25% {
    left: 1000px;
    top: 0px;
  }
  50% {
    left: 1000px;
  }
  75% {
    left: 100px;
  }
  100% {
    left: 100px;
    top: 0px;
  }
}
.stars {
  display: inline-block;
  flex-direction: column;
  margin-top: 120px;
  justify-content: flex-end;
  padding: 0 30px;
  margin-left: 150px;
  /* border: red 1px solid; */
  max-width: 600px;
}
.stars li {
  text-align: center;
  margin: 4px;
  padding: 4px;
  list-style: none;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

ol li a:hover {
  display: inline-flex;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #18b2ff,
    0 0 30px #18b2ff, 0 0 40px #18b2ff, 0 0 55px #18b2ff, 0 0 75px #18b2ff;
}

.ave {
  font-size: 2em;
  margin-left: 50px;
  color: white;
}
.avengers {
  display: inline-block;
  font-family: The + Avengers;
  font-size: 4em;
  font-style: italic;
  letter-spacing: 0px;
  font-weight: bold;
  color: crimson;
  margin-top: 200px;
}

.avengers:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #18b2ff,
    0 0 30px #18b2ff, 0 0 40px #18b2ff, 0 0 55px #18b2ff, 0 0 75px #18b2ff;
  cursor: pointer;
}

.para-01 {
  grid-area: left;
}

.para-02 {
  grid-area: middle;
}
.para-03 {
  grid-area: right;
}

main {
  margin-top: 40%;
  display: grid;
  grid-template-areas: "left middle right";
}
main p {
  display: flex;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #18b2ff,
    0 0 30px #18b2ff, 0 0 40px #18b2ff, 0 0 55px #18b2ff, 0 0 75px #18b2ff;
}

footer {
  padding: 40px;
  display: flex;
  justify-content: center;
}
.marvel {
  text-transform: uppercase;
  background-color: crimson;
  padding: 4px;
  font-size: 2rem;
  font-weight: bold;
  font-family: Marvel;
}
a {
  text-decoration: none;
}
.studio {
  margin-top: 6px;
  padding: 6px;
}

@media (max-width: 768px) {
  main {
    margin: 10px 20px;
    gap: 20px;
    grid-template-areas:
      "left left left"
      "middle middle middle"
      "right right right";
  }
  .avengers {
    text-align: center;
    font-size: 2.5em;
  }
  .stars {
    display: inline-flex;
    /* justify-content: center; */
  }
}
